html {
    background-color:black; 
    }
p {
    color:white;
    text-align:center;
    font-family: 'Nosifer', cursive;
    }
button {
    border-style:ridge;
    border-width:25px;
    color:cyan;
    background-color:black;
    }
#centered-div {
    text-align:center;
    }
#Ghost {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}
