html {
   background-color:black;
}
p {
   color:white;
   text-align:center;
   width:200%;
   height:auto;
}
button {
   border-style:ridge;
   border-width:25px;
   color:cyan;
   background-color:black;
   width:50%;
   height:auto;
   font-size:200%;
}
#centered-div {
   text-align:center;
}
#Ghost {
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: auto;
}
@font-face {
   font-family: Nosifer;
   src: url('Nosifer Text.ttf');
}
@font-face {
   font-family: Mosteri;
   src: url('Mosteri Text.ttf')
}
