html {
    background-color:black; 
    }
p {
    font-size:100%;
    color:white;
    text-align:center;
    }
button {
    border-style:ridge;
    border-width:25px;
    color:cyan;
    background-color:black;
    font-size:500%
    }
#centered-div {
    text-align:center;
    }
#Ghost {
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}
